body{
    user-select: none;
    background-color: #0c002b;
    color: white;
    font-family: cursive;
}
.restart,.normal,.hacker,.hackerpp,.start {
    color: #1779ff;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-left: 10px;
}
.start{
    background: #1779ff;
    letter-spacing: 1px;
    color: #0c002b;
}
.normal{
    background: #1779ff;
    color: #0c002b;
}
.restart:hover,.normal:hover,.hacker:hover,.hackerpp:hover {
    background: #1779ff;
    letter-spacing: 1px;
    color: #0c002b;
    transform: scale(1.2);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.normal:hover{
    transform: scale(1);
}
.table{
    position: relative;
    height: 408px;
    width: 408px;
    left: 50%;
    text-align: center;
    top: -55%;
    transform: translate(-50%);
    background-color: lightgray;
    transition: 1s;
}
.cell{
    border: 2px solid white;
    border-radius: 10px;
    font-size: 50px;
    height: 100px;
    color: darkgreen;
    background-color: gray;
    width: 100px;
    transition: 0.3s;
}
.cell:hover{
    transform: scale(1.15);
}
@media (max-width: 768px){
    .restart,.normal,.hacker,.hackerpp{
        float: left;
    }
    .table{
        top: -30%;
    }
}
